body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.red {
  width: 150px;
  height: 150px;
  background-color: red;
  order: -1;
}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
  order: 1;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
  order: 0;
}
