body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.red {
  width: 150px;
  height: 150px;
  background-color: red;
  order: -2;
}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
  order: -1;
}

@media screen and (max-width: 450px) {
    body{
     display: flex;
     justify-content: space-evenly;
    }
}