.red {
  width: 150px;
  height: 150px;
  background-color: red;
}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
}

body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.red{
  order: -1;
}
.blue{
  order: 1;
}

