body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.red {
  width: 150px;
  height: 150px;
  background-color: red;
  order: 0;
}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
  align-self: flex-end;
  order: 2;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
  order: 1;
}
