body{
  display: flex;
  align-items: center;
  flex-direction:row;
  /* justify-content: space-evenly; */


}


.red {
  width: 150px;
  height: 150px;
  background-color: red;
  order: 1;

}

.blue {
  width: 150px;
  height: 150px;
  background-color: blue;
  order: 2;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
  order: 3;
}

@media screen and (max-width: 150px){
 body{
  display: flex;
  justify-content: space-evenly;
 }
}
